@model  List<SampleASP.Models.Student>

<div>
    <table class="table table-striped">
        <tr>
            <th>StudentID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Enrollment Date</th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentID</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.EnrollmentDate.ToShortDateString()</td>
            </tr>
        }
    </table>
</div>