@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang</h1>
    <p>Belajar menggunakan ASP.NET 6 MVC</p>
    <p>Menggunakan Visual Studio Code</p>
</div>
